
/* Responsivness for Iphone X */


@media only screen and (max-width: 631px){


    /* Nav  Responsiveness  */

    #desktopNav{
        border-bottom: 1px solid gray;
        height: 7vh;
        /* border: 2px solid green; */
        justify-content: space-around;
        position: fixed;
        background-color: black;

    }


    /* Creating a custom  Menu and Close Icon */

    #desktopNav > #showMenuBtn{
        /* border: 1px solid green; */
        width: 27%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #desktopNav > #showMenuBtn > #menu-btn-span-cont{
        /* border: 1px solid green; */
        height: 12%;
        width: 17%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #desktopNav > #showMenuBtn > #menu-btn-span-cont > .menu-btn-top{
        height: 100%;
        width: 100%;
        border-top: 1.4px solid white;
    }

    #desktopNav > #showMenuBtn > #menu-btn-span-cont > .menu-btn-bottom{
        height: 100%;
        width: 100%;
        border-bottom: 1.4px solid white;
    }

    #desktopNav > #hideMenuBtn{
        /* border: 1px solid green; */
        width: 27%;
        height: 100%;
        display: none;
        justify-content: flex-start;
        align-items: center;
    }

    #desktopNav > #hideMenuBtn > #menu-btn-span-cont{
        /* border: 1px solid green; */
        height: 0%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    #desktopNav > #hideMenuBtn > #menu-btn-span-cont > .menu-btn-top{
        height: 100%;
        width: 100%;
        transform: rotate(45deg);
        border-bottom: 1.4px solid white;
        position: absolute;
    }

    #desktopNav > #hideMenuBtn > #menu-btn-span-cont > .menu-btn-bottom{
        height: 100%;
        width: 100%;
        transform: rotate(-45deg);
        border-bottom: 1.4px solid white;
        position: absolute;
    }

    #desktopNav > .logo{
        /* border: 1px solid green; */
        width: 27%;
        height: 100%;
        justify-content: center;
    }

    #desktopNav > .logo > img{
        height: 60%;
        width: 45%;
        left: 0px;
    }

    #desktopNav > #basket{
        /* border: 1px solid green; */
        width: 27%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #desktopNav > #basket > img{
        height: 45%;
        width: 22%;
        /* margin-right: 10px; */
    }

    #desktopNav > .navigate{
        display: none;
    }

    main{
        /* border: 1px solid green; */
        flex-direction: column;
        height: 100vh;
    }

    main > #slider > .rank{
        display: none;
    }

    main > #slider > .dotCont{
        /* border: 1px solid green;  */
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: transparent;
        /* padding: 0px; */
    }

    .dotCont > .mode > svg, .dotCont > .rank > h5{
        display: flex;
    }

    main > #slider > .dotCont > .mode{
        height: 100%;
        width: 30%;
        /* border: 2px solid green; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    main > #slider > .dotCont > .rank{
        height: 100%;
        width: 30%;
        /* border: 2px solid green; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    
    main > .dotCont > .rank > #bar{
        display: none;
        height: 1%;
        /* border: 1px solid #ffffff; */
        padding-bottom: 150px;
    }
    
    main > #slider > .dotCont > .rank > h5{
        font-family: cursive;
        font-size: 20px;
        margin-top: 0px;
        transform: rotate(270deg);
    }
    
    
    main > .dotCont > .rank > svg:hover{
        cursor: pointer;
    }
    
    main > #slider > .dotCont > .mode > .darkMode{
        display: none;
    }

    main > #slider{
        height: 100%;
        flex-direction: column;
        background: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
          ), url(../assets/download.png) no-repeat left;
        background-size: cover;
        /* border: 2px solid white; */
        margin-top: 59px;

    }

    main > #slider > .currentSlide{
        height: 100%;
        width: 100%;
        /* border: 2px solid white; */
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-position: center;
        background-size: cover;
    }


    main > #slider > .slide1{
        background: url(../assets/download.png) no-repeat;
        background-size: 800px;
    }
    
    main > #slider > .slide2{
        background: url(../assets/sideview.png) no-repeat right;
        background-size: 650px;
    }
    
    main > #slider > .slide3{
        background: url(../assets/warrior.png) no-repeat ;
        background-size: 450px;
    }

    main > #slider > .slide1{
        background-position: left;
    }

    main > #slider > .currentSlide > .slideText{
        /* border: 2px solid red; */
        display: flex;
        width: 90%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-left: 0px;
    }

    main > #slider > .currentSlide > .slideText > p{
        position: relative;
        padding: 40px 0px;
        padding-left: 0px;
        right: 0px;
        border-left: none;
    }

    main > #roll{
        display: none;
    }

    /* Responsiveness for About, Service and Stats section on Iphone X */


    #about{
        flex-wrap: wrap-reverse;
    }

    #service{
        padding: 0px;
    }

    #about > #image, #service > #image, #stats > #description, #stats > #action{
        height: 400px;
        width: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 2px solid #7F6B00; */
    }

    #about > #image > img, #service > #image > img{
        height: 80%;
        width: 80%;
    }

    #about > #text, #service > #text{
        height: 200px;
        width: 800px;
        padding: 10px;
    }

    #stats > #description, #stats > #action{
        height: max-content;
        padding: 10px;
        margin: 15px;
        /* border: 1px solid green; */
    }

    #stats > #description{
        margin-bottom: 0px;
    }

    #stats > #action{
        margin-top: 0px;
        /* border: 1px solid green; */
    }

    #stats > #action > h1,  #stats > #description > h1{
        margin: 0px;
        padding: 0px;
    }

    #about > #text > h1,    #about > #text > p, #service > #text >h1, #service > #text > p, #stats > #action > p, #stats > #description > p{
        /* border: 1px solid green; */
        text-align: center;
    }
}