*{
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

body{
    color: white;
    background-color: black;
}

#desktopNav{
    height: 15vh;
    width: 100%;
    background-color: transparent;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    z-index: 2222;
}

#desktopNav > .logo{
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
    /* border: 2px solid green; */
}

#desktopNav > .logo > img{
    height: 60px;
    width: 80px;
    position: relative;
    left: 20px;
    padding: 10px;
 /* border: 2px solid green; */
}

#desktopNav > .logo > img:hover{
    cursor: pointer;
}

#basket{
    display: none;
}

#desktopNav > .navigate{
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
}

#desktopNav > .navigate > ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#desktopNav > .navigate > ul > li{
    list-style-type: none;
    font-family: cursive;
    font-size: large;
    text-transform: capitalize;
    padding: 10px;
}

#desktopNav > .navigate > ul > li:nth-child(1){
    color: #ffffff;
    /* padding: 10px; */
    border-radius: 3px;
    background-color: #7F6B00;
}

#desktopNav > .navigate > ul > li:nth-child(1):hover{
    border-radius: 2px;
    background-color: black;
    cursor: pointer;
}

#desktopNav > .navigate > ul > li:hover{
    border-left: 5px solid #7F6B00;
    cursor: pointer;
    color: #7F6B00;
}

/* Styling for mobileNavigation */

#mobile-nav-cont{
    position: fixed;
    display: none;
    height: 93vh;
    width: 100%;
    top: 7%;
    background-color: black;
    z-index: 2222;
    flex-direction: column;
    align-items: center;
}

#mobile-nav-cont > #mobile-nav-search-cont{
    /* border: 1px solid green; */
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1px solid gray;
    padding: 0px 0px 10px 0px;
}

#mobile-nav-cont > #mobile-nav-search-cont > #search-title{
    /* border: 1px solid green; */
    align-self: start;
    font-family: cursive;
    display: none;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    margin-left: 10px;
    display: none;
}

#mobile-nav-cont > #mobile-nav-search-cont > input{
    height: 35px;
    width: 95%;
    border-radius: 10px;
    background-color: #1D1D1F;
    padding: 10px;
    border: none;
    color: white;
    margin-top: 10px;
    outline: none;
}

#mobile-nav-cont > #mobile-nav-search-cont > input:focus{
    border: none;
}


#mobile-nav-cont > #mobile-nav-search-result{
    /* border: 1px solid green; */
    width: 90%;
    display: none;
    justify-content: center;
    padding: 10px;
}

#mobile-nav-cont > #mobile-nav-search-result > #recent-del{
    /* border: 1px solid green; */
    border-bottom: 1px solid gray;
    display: none;
    justify-content: space-between;
    align-items: baseline;
    flex-basis: auto;
    font-family: cursive;
    padding: 10px 0px 0px 0px;
    width: 100%;
}

#mobile-nav-cont > #mobile-nav-search-result > #recent-del > #rec{
    font-size: 30px;
}

#mobile-nav-cont > #mobile-nav-search-result > #recent-del > #del{
    color: red;
}

#mobile-nav-cont > #mobile-nav-search-result > ul{
    list-style-type: none;
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

#mobile-nav-cont > #mobile-nav-search-result > ul > li{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid gray;
    width: 100%;
    font-family: cursive;
    font-size: 50px;
    /* height: 44px; */
    font: menu;
}

#mobile-nav-cont > #mobile-nav-search-result > ul > li:hover{
    background-color: rgb(82, 78, 78);
}

#mobile-nav-cont > #mobile-nav-menu{
    /* border: 1px solid green; */
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#mobile-nav-cont > #mobile-nav-menu > ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid green; */
}

#mobile-nav-cont > #mobile-nav-menu > ul > li{
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid gray;
    width: 100%;
    font-family: cursive;
    font-size: 14px;
}

#mobile-nav-cont > #mobile-nav-menu > ul > li:hover{
    background-color: rgb(82, 78, 78);
}

main{
    height: 85vh;
    width: 100%;
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
}

main > #slider > .rank{
    height: 100%;
    width: 8%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main > #slider > .rank > #bar{
    height: 1%;
    border: 1px solid #ffffff;
    padding-bottom: 150px;
}

main > #slider > .rank > h5{
    font-family: cursive;
    font-size: 20px;
    margin-top: 70px;
    transform: rotate(270deg);
}

main > #slider > .rank > svg{
    position: relative;
    top: 70px;
}

main > #slider > .rank > svg:hover{
    cursor: pointer;
}

main > #slider >.rank > .darkMode{
    display: none;
}

main > #slider{
    height: 100%;
    width: 100%;
    /* border: 2px solid yellow; */
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat right;
    background-size: 600px;
}

main > #roll{
    height: 85%;
    width: 6%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* border: 2px solid green; */
}

main > #roll > span{
    /* padding: 10px; */
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 2px solid #7F6B00;
    content: "\2193";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 9000;
}

main > #roll > span:hover{
    cursor: pointer;
    color: #7F6B00;
    border: 2px solid white;
}


main > #slider > .currentSlide{
    height: 100%;
    width: 100%;
    /* border: 2px solid white; */
    display: none;
}



main > #slider > .slide1{
    background: url(../assets/download.png) no-repeat right;
    background-size: 600px;
}

main > #slider > .slide2{
    background: url(../assets/sideview.png) no-repeat right;
    background-size: 650px;
}

main > #slider > .slide3{
    background: url(../assets/warrior.png) no-repeat right;
    background-size: 450px;
}

main > #slider > .currentSlide > .slideText{
    /* border: 2px solid red; */
    display: flex;
    width: 60%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

main > #slider > .currentSlide > .slideText > h3{
    font-size: 40px;
    font-family: cursive;
    margin: 0px;
}

main > #slider > .currentSlide > .slideText > h3 > .keyword{
    color: #7F6B00;
}


main > #slider > .currentSlide > .slideText > p{
    font-size: 20px;
    font-family: cursive;
    font-weight: 540;
    position: relative;
    padding: 20px 0px;
    padding-left: 95px;
    right: 14.2%;
    border-left: 2.3px solid #7F6B00;
}

main > #slider > .currentSlide > .slideText > button{
    width: 160px;
    height: 40px;
    font-family: cursive;
    font-weight: 900;
    color: #7F6B00;
    background-color: transparent;
    border: 2px solid #7F6B00;
    border-radius: 3px;
    margin-top: 12px;
}

main > #slider > .currentSlide > .slideText > button:hover{
    cursor: pointer;
    color: black;
    background-color: #7F6B00;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #7F6B00;
  }

.dotCont > .mode > svg, .dotCont > .rank > h5{
    display: none;
}


  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: 0.1}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 0.1}
    to {opacity: 1}
  }
  

#about{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green;   */
    padding: 50px 0px;
    background: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.0),rgb(0, 0, 0, 0.0), rgb(127, 107, 0, 0.7)) ;
}

#about > #image{
    height: 540px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #7F6B00; */
}

#about > #image > img{
    height: 80%;
    width: 80%;
    border: 20px outset #7F6B00;
}

#about > #text{
    height: 540px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
}

#about > #text > h1{
    font-family: cursive;
    /* font-size: 40px; */
    margin-top: 50px;
}

#about > #text > h1 > span{
    background-color: #7F6B00;
    color: black;
    border-radius: 5px;
    padding: 0px 10px;
}

#about > #text > p{
    /* font-size: 20px; */
    font-family: cursive;
    font-weight: 500;
    position: relative;
    padding: 20px 0px;
}

#service {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid blue; */
    background-color: #7f6b00;
    padding: 50px 0px;
    background: linear-gradient(rgb(127, 107, 0, 0.7), rgb(127, 107, 0), rgb(127, 107, 0),#ffffff) ;
}

#service > #image{
    height: 540px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

#service > #image > img{
    height: 90%;
    width: 80%;
    border: 20px inset #7F6B00;
}


#service > #text{
    height: 540px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
}

#service > #text > h1{
    font-family: cursive;
    /* font-size: 40px; */
    margin-top: 50px;
}

#service > #text > h1 > span{
    background-color: black;
    color: #7F6B00;
    border-radius: 50%;
    padding: 10px;
}

#service > #text > p{
    /* font-size: 20px; */
    font-family: cursive;
    font-weight: 500;
    position: relative;
    padding: 20px 0px;
}


#stats{
    width: 100%;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid green; */
    padding: 50px 0px;
    background-color: white !important;
    background-image: linear-gradient(rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8),rgb(255, 255, 255, 0.8), rgb(0, 0, 0, 0.8)), url(../assets/map.png);
    background-position: center;
    background-repeat: no-repeat;
}

#stats > #description{
    height: 540px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

#stats > #action{
    height: 540px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid green; */
}

#stats > #description > h1{
    font-family: cursive;
    font-size: 40px;
    margin-top: 50px;
}

#stats > #description > p{
    font-size: 20px;
    font-family: cursive;
    font-weight: 900;
    position: relative;
    padding: 20px 0px;
}

#stats > #description > span{
    width: min-content;
    font-size: 20px;
    font-family: cursive;
    font-weight: 900;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    color: white;
    background-color: #7F6B00;
}


#stats > #action > h1{
    font-family: cursive;
    font-size: 40px;
    margin-top: 50px;
}

#stats > #action > p{
    font-size: 20px;
    text-align: right;
    font-family: cursive;
    font-weight: 900;
    position: relative;
    padding: 20px 0px;
}

#stats > #action > button{
    font-size: 20px;
    font-family: cursive;
    font-weight: 900;
    position: relative;
    padding: 10px;
    border-radius: 2px;
    border: none;
    color: white;
    background-color: #7F6B00;
}

#testimonial{
    height: 100vh;
    width: 100%;
    background-color: #7F6B00 !important;
    /* background: url(./assets/carved.png) no-repeat; */
    
}
