*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    font-size: 15px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* border: 1px solid green; */
}




main > #container > #construction-greeting{
    padding: 10px;
    font-size: 3rem;
    text-align: center;
}

main > #container > #construction-message{
    padding: 10px;
    font-size: 1rem;
    text-align: center;
}